body {
  margin: 0;
  font-family: Arial;
  background: #0b1220;
  color: white;
}

.center {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: #111;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}

.logo {
  width: 120px;
}
.logo-small {
  width: 40px;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #111;
}

.chat {
  height: calc(100vh - 130px);
  overflow-y: auto;
  padding: 10px;
}

.msg {
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  max-width: 80%;
}

.msg.user {
  background: #2563eb;
  margin-left: auto;
}

.msg.ai {
  background: #374151;
}

.actions span {
  margin-left: 10px;
  cursor: pointer;
}

.input-box {
  display: flex;
  gap: 5px;
  padding: 10px;
}
